.surface {
  background: rgba(100, 100, 100, 0.3);
  -webkit-backdrop-filter: blur(6px) brightness(.8);
  backdrop-filter: blur(6px) brightness(.8);
  border: 0.5px solid rgba(255, 255, 255, 0.05);
  border-radius: 15px;
  overflow: hidden;
}

.surfaceExpanded {
  background: rgba(50, 50, 50, 0.4);
  -webkit-backdrop-filter: blur(16px) brightness(.65);
  backdrop-filter: blur(16px) brightness(.65);
  border-color: rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
